/* body{
    background-image: url(../image/pexels-lukas-317356.jpg);
    background: cover;
    
} */
.jumbotron{
    height: 100vh;
    padding-top: 0px;
    background-image: url('../image/ferenc-horvath-4gKHjKG7ty4-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    filter: blur(2px);
  -webkit-filter: blur(2px);
}
form {
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h1 {
    position: absolute;
    top: 2%;
    left: 42%;
    text-align: center;
}

li span:hover {
    cursor: pointer;
}

.list-group-item {
    background: transparent;
}
.editing{
    width: 300px;
    /* background-color: red; */
    float:right ;
    height: 100px;
   /* margin-left: 30%; */
   /* margin-top: 5%; */
}
#new-user, #log-in, #register{
    /* width: 130px;
    height: 30px; */
    /* background-color: blue; */
    float: left;
    /* border: 2px solid black; */

    margin-left: 10px;

} 
/* #new-user{
    margin-left: 10px;
    border: 2px solid black;
    text-shadow: brown;
} */
#register{
    margin-left: 10px;
}
/* #hidden{
    margin-top: 20px;
    float: left;
    width: 200px;
    height: 70px;
} */
#logout{
    display: none;
}